<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Password=Manoj@110697; Persist security Info=True; User ID=careersgen9;Initial Catalog=careersgen9;Data Source=97.74.31.100"/>
  </appSettings>
 
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="CommanErrorPage.htm">  <!--Developed By S.Bharath Date:04/03/2015-->
      
    </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>